<nav class="navbar navbar-inverse" style="border-radius: 0px;" *ngIf="currentUser">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Developer Tool</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/form-parser">Form Parser</a></li>
        <li><a routerLink="/xml_maker">XML Maker</a></li>
        <li><a routerLink="/segment">Segment</a></li>
        <li><a routerLink="/image-process">Image Process</a></li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
</nav>
<!-- main app container -->
<router-outlet></router-outlet>
