<div class="container" style="width: 95%;">
    <div class="row">
		<div class="col-sm-12">
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab"><b>Authority List</b></a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active panel-body" id="tab_default_1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form>
                                        <div class="col-sm-6">
                                            <label>Add Authority</label>
                                            <input type="text" class="form-control" style="padding:4px 12px;" placeholder="Enter Authority">
                                        </div>
                                        <div class="col-sm-2" style="margin-left: -24px;">
                                            <input type="submit" class="form-control" value="Add" style="margin-top:24px;background: #f3565d;color: white;width: 65px;">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div style="width: 70%;">
                                            <h3>Authority List</h3>
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">New List</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse">
                                                        <div class="panel-body" style="max-height: 250px;overflow-y: scroll; padding: 0px;">
                                                            <ul class="list-group" style="margin-bottom: 0px;">
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Assign List</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse in">
                                                        <div class="panel-body" style="max-height: 250px;overflow-y: scroll; padding: 0px;">
                                                            <ul class="list-group" style="margin-bottom: 0px;">
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                                <li class="list-group-item hover_list" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                                    <b>First item</b>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>Company List</h3>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <form style="margin-top: -20px;">
                                                    <input type="text" class="form-control" style="width: 50%;display: inline;" placeholder="Enter Company">
                                                    <input type="submit" class="form-control" value="Add" style="margin-top:24px;background: #f3565d;color: white;width: 65px;display: inline">
                                                </form>
                                               <input type="submit" class="form-control" value="CSV" style="margin-top:24px;background: #f3565d;color:white;width: 65px;float: right; margin-top: -35px;"> 
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse in">
                                                <div class="panel-body" style="max-height: 275px;overflow-y: scroll; padding: 0px;">
                                                    <ul class="list-group" style="margin-bottom: 0px;">
                                                        <li class="list-group-item" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                            <b>First item</b>
                                                            <button class="btn" style="float: right;margin-top: -7px; background: #f3565d;color:white;">X</button>
                                                        </li>
                                                        <li class="list-group-item" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                            <b>First item</b>
                                                            <button class="btn" style="float: right;margin-top: -7px; background: #f3565d;color:white;">X</button>
                                                        </li>
                                                        <li class="list-group-item" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                            <b>First item</b>
                                                            <button class="btn" style="float: right;margin-top: -7px; background: #f3565d;color:white;">X</button>
                                                        </li>
                                                        <li class="list-group-item" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                            <b>First item</b>
                                                            <button class="btn" style="float: right;margin-top: -7px; background: #f3565d;color:white;">X</button>
                                                        </li>
                                                        <li class="list-group-item" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                                                            <b>First item</b>
                                                            <button class="btn" style="float: right;margin-top: -7px; background: #f3565d;color:white;">X</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>