<div class="container" style="width: 95%;">
    <div class="row">
		<div class="col-sm-12">
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab"><b>File As Json</b></a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab"><b>File Download</b></a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active panel-body row" id="tab_default_1">
							<div class="col-sm-8">
								<form [formGroup]="fileIdForm" (ngSubmit)="submit(fileIdForm.value)"
									#uploadDocumentsForm="ngForm" ngNativeValidate>
									<div class="form-group">
										<label for="ids">Save Files Detail</label>
										<textarea class="form-control" formControlName="ids" rows="15" id="ids"></textarea>
										<br>
										<input type="submit" class="form-control" value="Download" [disabled]="fileIdForm?.invalid">
									</div>
								</form>
							</div>
							<div class="col-sm-4 well" style="height: 390px;overflow-y: scroll;">
								<h4 style="text-align: center;">Live Logs</h4>
								<hr style="border-top: 3px solid #f3565d;">
								<div *ngFor="let message of messageList.reverse();">
									<span>{{message}}</span>
								</div>
							</div>
						</div>
						<div class="tab-pane panel-body" id="tab_default_2">
							Pakistan Zindabad
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>